<form action="/payment/results">
  <label for="apr_n">APR</label>
  <input id="apr_n" name="user_apr" placeholder="E.g. 5.42">
  <div><label for="years_n">Number of years</label>
  <input id="years_n" name="user_years" placeholder="How many years to repay?"> </div>
  <div><label for="principal_n">Principal</label> 
  <input id="principal_n" name="user_pv" placeholder="How much principal?"></div>
  <div><button>Calculate monthly payment</button></div>
</form>
