<h1>Random Results</h1>
<a>Minimum</a>
<div><a><%= @min %></a></div>
<div><a>Maximum</a></div>
<div><a><%= @max %></a></div>
<div>
<div><a>Random Number</a></div>
<div><a><%= @rand %></a></div>
<div>
<a href="/random/new">Pick another random number</a>
</div>
