<form action="/square_root/results">
  <label for="squarer_n">Enter a number</label>
  <input id="squarer_n" name="user_number" placeholder="What number do you want to test">
  <div><button>Calculate square root</button></div>
</form>
<div>
