<h1>Square Root Results</h1>
<a>Number</a>
<div><a><%= @num %></a></div>
<div><a>Square Root</a></div>
<div><a><%= @square_root %></a></div>
<div>
<a href="/square_root/new">Calculate another square root</a>
</div>
